/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    line-height: 1.6;
    color: #333;
  }

  h1 {
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-semibold mb-3;
  }

  p {
    @apply text-base leading-7 mb-4;
  }

  a {
    @apply font-black underline hover:no-underline;
  }

  li {
    @apply list-disc ml-4;
  }

  code {
    @apply bg-gray-100 p-1 rounded;
  }

  .content-card {
    @apply text-black bg-white border-2 border-black rounded-lg;
  }

  .index-card {
    @apply text-black font-bold bg-white border-2 border-black rounded-lg transition-transform duration-300 transform hover:-translate-y-1 hover:no-underline;
  }

  .main-shadow {
    box-shadow: 15px 15px 0px 0px black;
    @apply border-2 border-black;
  }

  .title-shadow {
    box-shadow: 5px 5px 0px 0px black;
    @apply border border-black font-bold;
  }

  .button-shadow {
    box-shadow: 5px 5px 0px 0px black;
    @apply text-black border border-black font-bold bg-gray-300 duration-100 hover:shadow-none hover:translate-y-1 hover:translate-x-1;
  }
}

@layer components {
  /* Add any custom component styles here */
}

@layer utilities {
  /* Add any custom utility styles here */
}

@media (max-width: 768px) {
  @layer base {
    html {
      @apply text-lg;
    }

    h1 {
      @apply text-2xl;
    }

    h2 {
      @apply text-xl;
    }
  }
}

@media (max-width: 480px) {
  @layer base {
    html {
      @apply text-base;
    }

    h1 {
      @apply text-xl;
    }

    h2 {
      @apply text-lg;
    }
  }
}
